/* Chrome/Edge */
*::-webkit-scrollbar { width: 12px; height: 12px; }
*::-webkit-scrollbar-track { background: rgba(255,255,255,.03); }
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2c89ff, #1671e5);
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover { background: linear-gradient(180deg, #4f9cff, #2c89ff); border: 2px solid transparent; }

/* Firefox */
* { scrollbar-color: #2c89ff rgba(255,255,255,.05); scrollbar-width: thin; }